################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FSL.CacheProvider/bin
/FSL.CacheProvider/obj/Debug
/packages
/FSL.CacheProvider/obj/Release
*.user